
DATABASE_URL = ""
DATASET_DIR = "datasets"
FILE_NAME = "E-Commerce Orders.csv"
VALUE_OF_INR = 96.0
TABLE_NAME = "ecommerce_orders"

OPENROUTER_API_KEY = ""
OPENROUTER_MODEL = ""
OPENROUTER_URL = ""

MCP_SANDBOX_URL = "http://localhost:8181/sse"
WEAVIATE_COLLECTION_NAME = ""
