
DATABASE_URL = ""
DATASET_DIR = "datasets"
FILE_NAME = "E-Commerce Orders.csv"
VALUE_OF_INR = 82.0
TABLE_NAME = "ecommerce_orders"

OPENROUTER_API_KEY = ""
OPENROUTER_MODEL = ""
OPENROUTER_URL = ""

MCP_SANDBOX_URL = "http://localhost:8181/sse"

EMBEDDING_MODEL_NAME = ""
JINA_API_KEY = ""

LEN_CHAT_HISTORY = 5